main{
	margin:0 auto; /* permet de centrer la page*/
	width: 60%;
}

header{
	text-align: center;

}

nav
{
	display: inline-block;
	width : 150px ;
	border : 1px solid blue ;
	vertical-align: top;
	position: relative;
	left: 115px;
}
section
{
	display: inline-block;

	text-align: center;
	border : 1px solid blue ;
	width: 47%;
	position: relative;
	left: 170px;
}

footer
{
	text-align: center;
}


