body{
    background: fixed center no-repeat url("../images/gta 2 fond.jpg") forestgreen;
}
h1{
    color:blue;
}
h2{
    color: red;
}
#gta1{
    color:darkgreen;
    font-size: 200%;
    border-style: ridge;
}
.titre{
    color:red;
}
.jaune{
    color:orange;
    font-size: 150%;
}
.page2{
    color:orangered;
    font-size: 150%;
}